/*
   FLEX WRAP
*/
.fw-no { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
.fw-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; }
.fw-wraprev { -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
.fw-i { -ms-flex-wrap: inherit; flex-wrap: inherit; }
@media screen and (min-width: 48em) {
 .fw-no-ns { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
 .fw-wrap-ns { -ms-flex-wrap: wrap; flex-wrap: wrap; }
 .fw-wraprev-ns { -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
 .fw-i-ns { -ms-flex-wrap: inherit; flex-wrap: inherit; }
}
@media screen and (min-width:48em) and (max-width: 64em) {
 .fw-no-m { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
 .fw-wrap-m { -ms-flex-wrap: wrap; flex-wrap: wrap; }
 .fw-wraprev-m { -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
 .fw-i-m { -ms-flex-wrap: inherit; flex-wrap: inherit; }
}
@media screen and (min-width: 64em) {
 .fw-no-l { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
 .fw-wrap-l { -ms-flex-wrap: wrap; flex-wrap: wrap; }
 .fw-wraprev-l { -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
 .fw-i-l { -ms-flex-wrap: inherit; flex-wrap: inherit; }
}

