/*
   FLEX WRAP
*/

.fw-no {      flex-wrap: nowrap; }
.fw-wrap {    flex-wrap: wrap; }
.fw-wraprev { flex-wrap: wrap-reverse; }
.fw-i {       flex-wrap: inherit; }

@media screen and (min-width: 48em) {
  .fw-no-s {      flex-wrap: nowrap; }
  .fw-wrap-s {    flex-wrap: wrap; }
  .fw-wraprev-s { flex-wrap: wrap-reverse; }
  .fw-i-s {       flex-wrap: inherit; }
}

@media screen and (min-width:48em) and (max-width: 64em) {
  .fw-no-m {      flex-wrap: nowrap; }
  .fw-wrap-m {    flex-wrap: wrap; }
  .fw-wraprev-m { flex-wrap: wrap-reverse; }
  .fw-i-m {       flex-wrap: inherit; }
}

@media screen and (min-width: 64em) {
  .fw-no-l {      flex-wrap: nowrap; }
  .fw-wrap-l {    flex-wrap: wrap; }
  .fw-wraprev-l { flex-wrap: wrap-reverse; }
  .fw-i-l {       flex-wrap: inherit; }
}

